body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: aliceblue;
  }
  
  .app {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .product {
    text-align: center;
  }
  
  .product img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .product section {
    margin-bottom: 10px;
  }
  
  .cart {
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .cart h2 {
    margin-bottom: 10px;
  }
  
  .cart button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart button:hover {
    background-color: #45a049;
  }
  
  .qty {
    font-weight: bold;
  }
  